<template lang="pug">
#app
  button.btn.btn-primary.mb-3(
    @click="show_add_form = true; show_edit_form = false",
    :class="show_add_form ? 'd-none' : ''"
  ) Add
  div(v-if="show_add_form")
    .mb-3
    label.form-label(for="exampleFormControlInput1") URL
    input#exampleFormControlInput1.form-control(
      type="text",
      placeholder="http://",
      v-model="origin_"
    )
    .originHelp.form-text {{ error_origin }}
    .mb-3
    button.btn.btn-primary.mb-3(type="submit", @click="create_url") Add Url

  div(v-if="show_edit_form")
    .mb-3
    label.form-label(for="exampleFormControlInput1") URL
    input#exampleFormControlInput1.form-control(
      type="text",
      placeholder="http://",
      v-model="origin_edit"
    )
    .originHelp.form-text {{ error_origin_edit }}
    .mb-3
    label.form-label(for="basic-url") Shortened
    .input-group.mb-3
      span#basic-addon3.input-group-text https://127.0.0.1/
      input#basic-url.form-control(
        type="text",
        aria-describedby="basic-addon3",
        v-model="slug_edit",
        maxlength="10"
      )
    .originHelp.form-text {{ error_slug_edit }}
    .mb-3
    button.btn.btn-primary.mb-3(type="submit", @click="edit_url") Edit Url

  div Total: {{ count }}

  table.table
    thead
      tr
        th(scope="col") #
        th(scope="col") Shortened
        th(scope="col") Original Url
    tbody
      tr(v-for="item in items")
        template
          th(scope="row")
            button.btn.btn-danger.mb-3.me-2(
              type="button",
              @click="delete_url(item.id)"
            ) Del

            button.btn.btn-primary.mb-3.mr-2(
              type="button",
              @click="get_edit_form(item.id)"
            ) Edit
          td 
            a(:href="'http://127.0.0.1/' + item.slug", target="_blank") {{ 'http://127.0.0.1/' + item.slug }}
          td 
            a(:href="item.origin", target="_blank") {{ item.origin }}
  nav(aria-label="Page navigation example")
  ul.pagination
    template(v-for="pg in Math.ceil(count / ITEMS_PER_PAGE)")
      li.page-item(v-bind:class="page_ == pg ? 'active' : ''")
        a.page-link(href="#", @click="get_table(pg)") {{ pg }}

//-   div(v-bind:class="page == pg ? 'active: ' : ''")
</template>

<script>
export default {
  name: "App",
  data: function () {
    return {
      message: "Hello",
      count: 0,
      page_: 1,
      previous: "",
      next: "",
      items: [],
      origin_: "",
      id_edit: "",
      origin_edit: "",
      slug_edit: "",
      show_add_form: false,
      show_edit_form: false,
      error_origin: "",
      error_origin_edit: "",
      error_slug_edit: "",
      ITEMS_PER_PAGE: 3, // make gloabal constant
    };
  },
  created() {
    // init table with urls
    this.get_table(this.page_);
  },
  watch: {
    origin_: function (val, oldVal) {
      this.error_origin = "";
    },
    origin_edit: function (val, oldVal) {
      this.error_origin_edit = "";
    },
    slug_edit: function (val, oldVal) {
      this.error_slug_edit = "";
    },
  },
  methods: {
    // get editing url data and put to form
    edit_url: function () {
      this.$store
        .dispatch("saveUrlById", {
          id: this.id_edit,
          origin: this.origin_edit,
          slug: this.slug_edit,
          csrftoken: this.$cookies.get("csrftoken"),
        })
        .then((res) => {
          this.show_edit_form = false;
          this.get_table(this.page_);
        })
        .catch((err) => {
          if ("origin" in err.data[0]) {
            this.error_origin_edit = err["data"][0]["origin"][0];
          }
          if ("slug" in err.data[0]) {
            this.error_slug_edit = err["data"][0]["slug"][0];
          }
        });
    },
    get_edit_form: function (id) {
      this.$store
        .dispatch("getUrlById", {
          id: id,
        })
        .then((res) => {
          this.id_edit = res.id;
          this.origin_edit = res.origin;
          this.slug_edit = res.slug;
          this.show_edit_form = true;
          this.show_add_form = false;
        })
        .catch((err) => {});
    },
    // create url from add form
    create_url: function () {
      this.$store
        .dispatch("createUrl", {
          origin: this.origin_,
          csrftoken: this.$cookies.get("csrftoken"),
        })
        .then((res) => {
          this.show_add_form = false;
          this.page_ = 1;
          this.get_table(this.page_);
          this.origin_ = "";
        })
        .catch((err) => {
          if ("origin" in err.data[0]) {
            this.error_origin = err["data"][0]["origin"][0];
          }
        });
    },
    // delete url from url list
    delete_url: function (id) {
      this.$store
        .dispatch("deleteUrl", {
          id: id,
          csrftoken: this.$cookies.get("csrftoken"),
        })
        .then((res) => {
          // change number of page if page is last and we deleted last item on page
          if (
            this.page_ == Math.ceil(this.count / this.ITEMS_PER_PAGE) &&
            this.count > 1 &&
            (this.count - 1) % this.ITEMS_PER_PAGE == 0
          ) {
            this.page_--;
          }
          console.log(res);
          this.get_table(this.page_);
        })
        .catch((err) => console.log(err));
    },
    // get url list
    get_table: function (page) {
      // hide forms on paginate process
      this.show_add_form = false;
      this.show_edit_form = false;
      this.page_ = page;
      this.$store
        .dispatch("getTable", { page: page })
        .then((res) => {
          console.log("Success");
          this.count = res.count;
          this.items = res.items;
          this.previous = res.previous;
          this.next = res.next;
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>
<style >
</style>
